<robot name="bowl_small_model">
  <link name="bowl_small">
    <inertial>
      <mass value="0.100000" />
      <origin xyz="-0.000000 0.000000 0.022278"/>
      <inertia ixx="0.000165" ixy="0.000000" ixz="0.000000" iyy="0.000165" iyz="-0.000000" izz="0.000269" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/bowl_small.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/bowl_small.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="bowl_small">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>

