<launch>

  <!-- Generate filter and mux for base scan  -->
  <include file="$(find gki_index_scan_filter)/shakey_scan_filter.launch"/>
  <node pkg="topic_tools" type="mux" name="mux_base_scan" output="screen" args="base_scan_mux base_scan base_scan_filtered mux:=mux_base_scan"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="base_controller/2dnav_stack" />
    <rosparam file="$(find shakey_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find shakey_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find shakey_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find shakey_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find shakey_2dnav)/config/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" value="10.0" />
  </node>

  <node pkg="shakey_2dnav" type="costMapService" name="costMapService" output="screen"/>
</launch>
