<launch>
    <arg name="name" default="box" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="Y" default="0.0" />

    <include file="$(find manipulation_objects)/launch/spawn_model.launch">
        <arg name="model" value="$(find shakey_spawn_objects)/models/box.urdf" />
        <arg name="name" value="$(arg name)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="Y" value="$(arg Y)" />
    </include>
</launch>


