<?xml version="1.0"?>
<launch>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="scan=base_scan _odom_frame:=odom_combined" output="screen">
    <remap from="scan" to="base_scan"/>
    <param name="odom_frame" value="odom_combined"/>
    <param name="odom_frame_id" value="odom_combined"/>
    <param name="base_frame_id" value="base_footprint"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shakey_executable)/shakey_rviz.rviz"  output="screen"/>
</launch>
