<robot name="box_model">
  <link name="box">
    <inertial>
      <mass value="1.000000" />
      <origin xyz="-0.000000 0.000000 -0.000000"/>
      <inertia ixx="0.166667" ixy="0.000000" ixz="0.000000" iyy="0.166667" iyz="0.000000" izz="0.166667" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://shakey_spawn_objects/meshes/box.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://shakey_spawn_objects/meshes/box.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="box">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>

