<robot name="wedge_model">
  <link name="wedge">
    <inertial>
      <mass value="1.000000" />
      <origin xyz="0.004387 -0.199963 -0.010162"/>
      <inertia ixx="0.019198" ixy="-0.001487" ixz="0.027704" iyy="0.111287" iyz="-0.000078" izz="0.015378" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/wedge.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/wedge.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wedge">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>

