<robot name="wedge_high_model">
  <link name="wedge_high">
    <inertial>
      <mass value="1.000000" />
      <origin xyz="0.004555 -0.219959 -0.010118"/>
      <inertia ixx="0.050682" ixy="-0.001742" ixz="0.039623" iyy="0.162285" iyz="-0.000112" izz="0.018433" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/wedge_high.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulation_objects/meshes/wedge_high.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wedge_high">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>

