<robot name="wedge_model">
  <link name="wedge">
    <inertial>
      <mass value="1.000000" />
      <origin xyz="0.002705 -0.003992 -0.010305"/>
      <inertia ixx="0.110845" ixy="0.000050" ixz="0.027700" iyy="0.111114" iyz="0.000686" izz="0.106930" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://shakey_spawn_objects/meshes/wedge.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://shakey_spawn_objects/meshes/wedge.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="wedge">
    <material>Gazebo/Grey</material>
  </gazebo>
</robot>

